
/*Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


/*CSS Variables*/

:root{
    --hot-pink: #FF41B4;
    --electric-blue: #3A58FF;
    --neon-purple: #A309DC;
    --bright-yellow: #FFEB3B;
    --deep-black: #000000;
    --light-black: #212121;
    --primary-font: 'Rubik', sans-serif;
    --secondary-font: "Press Start 2P", system-ui;
}




/*Global styling*/

h1, h2{
    text-align:center;
    font-family: var(--secondary-font);
}

body{
    background-color: var(--light-black);
    font-size:large;
}







/* Start the Quizz area */

.start-area {
    background-image: url(../images/retro-menu.png);
    background-size: contain;
    background-position: center;
    background-repeat: repeat;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25%;
    padding-bottom: 25%;
    /*border: 1px solid black;*/
}

#start-button {
    height: 3rem;
    width:auto;
    font-family: var(--secondary-font);
    background-color: white;
    border: 4px solid var(--hot-pink);
}

#start-button:hover {
    font-weight: bold;
    border: 4px solid var(--electric-blue);
}









/* Navbar */

.navbar {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: var(--bright-yellow);
    padding: 0.5rem;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-family: var(--secondary-font);
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-size: x-large ;
}

.nav-links a:hover {
    font-weight: bold;
}






/*Game Area*/

.game-area h1{
    color: var(--hot-pink);
}

.game-window {
    background-color: var(--deep-black);
    color: var(--bright-yellow);
    height: 90%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10% 0;
    margin: auto;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    scroll-padding-top: 20px;
    scroll-margin-top: 30px;
}

#answers {
    display: grid;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

#answers button{
    background-color: var(--bright-yellow);
    color: var(--deep-black);
    font-family: var(--primary-font);
    font-size: xx-large;
}

#answer-a:hover,
#answer-b:hover{
    border: 4px solid var(--neon-purple);
}

#start-game:hover{
    border: 4px solid var(--hot-pink);
}

#question {
    margin-bottom: 4rem;
    color: var(--bright-yellow);
    font-family: var(--secondary-font);
}

.score-area {
    background-color: var(--deep-black);
    color: var(--electric-blue);
    height: 90%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-family: var(--secondary-font);
    font-size: medium;
}

#restart-button{
    background-color: var(--bright-yellow);
    color: var(--deep-black);
    font-family: var(--primary-font);
    font-size: xx-large;
}

#restart-button:hover{
    border: 4px solid var(--hot-pink);
}







/*Game Rules*/

.game-rules {
    background-color: var(--deep-black);
    color: var(--hot-pink);
    height: auto;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 2rem;
    flex-direction: column;
    font-family: var(--primary-font);
    scroll-padding-top: 20px;
    scroll-margin-top: 30px;
}

.game-rules h2{
    margin-bottom: 0;
}

.game-rules div {
    text-align: center;
    padding: 0.5rem 1rem;
}

.game-rules div ul {
    text-align: left;
}




/*About us*/
.about-us{
    background-color:var(--deep-black);
    color: var(--neon-purple);
    width: 90%;
    margin: 2rem auto;
    scroll-padding-top: 20px;
    scroll-margin-top: 30px;
}

.about-us h2{
    padding: 1rem 0 0;
}

.about-us p{
    text-align: center;
    padding: 0 2rem 2rem;
    font-family: var(--primary-font);
}








/*Footer*/
footer {
    background-color: var(--bright-yellow);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    padding: 1rem 0; 
}

footer .contact-us, footer .follow-us {
    text-align: center; 
    padding: 1rem;
    width: 45%; 
}

footer p, a{
    font-family: var(--primary-font);
}

footer a{
    color: var(--deep-black);
    text-decoration: none;
}

footer a:hover{
    color: var(--deep-black);
    font-weight: bold;
}








/* Media Query <= 600px footer*/
@media (max-width: 600px) {
    footer {
        flex-direction: column;
        justify-content: center;
    }

    footer .contact-us, footer .follow-us {
        width: 100%;
    }
}

/* Media Query <= 670px Navbar*/
@media (max-width: 670px) {
    .nav-links a{
        font-size: medium ;
    }
}

/* Media Query <= 550px Navbar*/
@media (max-width: 550px) {
    .nav-links a{
        font-size: small;
    }
}

/* Media Query <= 350px Navbar*/
@media (max-width: 350px) {
    .nav-links a{
        font-size: x-small;
    }
}






